<div class="container">
  <div class="card add-product">
    <h5 class="card-header">Adicionar / Atualizar Produtos</h5>
    <div class="card-body">
      <form id="add-form" (ngSubmit)="f.form.valid && saveProduct(f)" #f="ngForm" novalidate>
        <div class="form-group">
          <label for="name">Nome</label>
          <input type="text" class="form-control" [(ngModel)]="product.name" id="name" name="name" #name="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" placeholder="Nome">
          <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
            <div  *ngIf="name.errors.required">Nome é obrigatório</div>
          </div>
        </div>
        <div class="form-group">
          <label for="phone">Quantidade</label>
          <input type="text" class="form-control" [(ngModel)]="product.quantity" id="quantity" name="quantity" #quantity="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && quantity.invalid }" placeholder="Quantidade">
          <div *ngIf="f.submitted && quantity.invalid" class="invalid-feedback">
            <div  *ngIf="quantity.errors.required">Quantidade é obrigatória</div>
          </div>
        </div>
        <div class="form-group">
          <label for="street_name">Preço Compra</label>
          <input type="text" class="form-control" [(ngModel)]="product.buy_value" id="buy_value" name="buy_value" #buy_value="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && buy_value.invalid }" placeholder="Valor Compra">
          <div *ngIf="f.submitted && buy_value.invalid" class="invalid-feedback">
            <div  *ngIf="buy_value.errors.required">Preço Compra é obrigatório</div>
          </div>
        </div>
        <div class="form-group">
          <label for="street_number">Preço Venda</label>
          <input type="text" class="form-control" [(ngModel)]="product.sell_value" id="sell_value" name="sell_value" #sell_value="ngModel" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && sell_value.invalid }" placeholder="Preço Venda">
          <div *ngIf="f.submitted && sell_value.invalid" class="invalid-feedback">
            <div  *ngIf="sell_value.errors.required">Número é obrigatório</div>
          </div>
        </div>
        <button type="button" class="btn btn-primary btn-add-client" (click)="saveProduct(f)" [routerLink]="['/product-list']">Salvar</button>
        <button type="reset" class="btn btn-secondary" (click)="cleanForm(f)">Limpar Formulário</button>
        <button type="button" class="btn btn-info" [routerLink]="['/product-list']">Cancelar</button>
      </form>
    </div>
  </div>
</div>
