<!-- <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Gerenciamento de Clientes</li>
  </ol>
</nav> -->
<div class="container">
  <div class="card list-client">
    <h5 class="card-header">Lista de Clientes</h5>
    <div class="card-body">
      <div class="card search-client">
        <input class="form-control" type="text" name="searchClient" [(ngModel)]="searchClient"
          autocomplete="off" placeholder="Busca por nome do cliente">
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">Logradouro</th>
            <th scope="col">Número</th>
            <th scope="col">Complemento</th>
            <th scope="col">Bairro</th>
            <th scope="col">CEP</th>
            <th colspan="2" style="text-align: center;">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clients | filter : searchClient">
            <td>{{client.name}}</td>
            <td>{{client.phone}}</td>
            <td>{{client.street_name}}</td>
            <td>{{client.number}}</td>
            <td>{{client.compliment}}</td>
            <td>{{client.neighborhood}}</td>
            <td>{{client.zipcode}}</td>
            <td>
              <button type="button" class="btn btn-warning" [routerLink]="['/client-form', client.id]">Editar</button>
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="deleteClient(client)">Deletar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/client-form">Adicionar novo cliente</button>
    </div>
  </div>
