<div class="container">
  <div class="card list-products">
    <h5 class="card-header">Lista de Produtos</h5>
    <div class="card-body">
      <div class="card searchProduct">
        <input class="form-control" type="text" name="searchProduct" [(ngModel)]="searchProduct"
          autocomplete="off" placeholder="Buscar por nome do produto">
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Valor Compra</th>
            <th scope="col">Valor Venda</th>
            <th scope="col">Data da Última Compra</th>
            <th colspan="2" style="text-align: center;">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products | filter : searchProduct">
            <td>{{product.name}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.buy_value}}</td>
            <td>{{product.sell_value}}</td>
            <td>{{product.date_of_last_buy}}</td>
            <td>
              <button type="button" class="btn btn-warning" [routerLink]="['/product-form', product.id]">Editar</button>
            </td>
            <td>
              <button type="button" class="btn btn-danger" (click)="deleteProduct(product)">Deletar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="button" class="btn btn-primary btn-lg btn-block" routerLink="/product-form">Adicionar novo produto</button>
    </div>
  </div>
